[submodule "src/roboy_communication"]
	path = src/roboy_communication
	url = https://github.com/Roboy/roboy_communication.git
[submodule "roboy_models"]
	path = roboy_models
	url = https://github.com/Roboy/roboy_models.git
