[submodule "src/roboy_communication"]
	path = src/roboy_communication
	url = https://github.com/Roboy/roboy_communication.git
[submodule "src/roboy_models"]
	path = src/roboy_models
	url = https://github.com/Roboy/roboy_models
[submodule "src/leap_motion"]
	path = src/leap_motion
	url = https://github.com/ros-drivers/leap_motion.git
[submodule "src/roboy_simulation"]
	path = src/roboy_simulation
	url = https://github.com/letrend/roboy_simulation
