<launch>

    <!-- these are the arguments you can pass to this launch file, for example paused:=true -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="true"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="$(arg debug)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <!--spawn gazebo model with given pose-->
    <node name="sdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-sdf -file $(find roboy_models)/left_hand_model/model.sdf -model LeftHand"
    />

    <node name="gesture_server" pkg="roboy_hand" type="gesture_execution_server" />
    <node name="gesture_client" pkg="roboy_hand" type="gesture_execution_client" />

</launch>
